.nav-container{
    background-color: rgb(168, 226, 226);
    /* bg-light */
}
.single-nav{
    text-decoration: none;
    background-color: rgb(216, 235, 248)

}
.title{
    text-decoration: none;
}
